.row {
    padding: 20px;
  }
  img {
    border-radius: 12px;
    width: 100px;
  }
  
  .languageSelector {
    font-size: 12px;
    background: #f4f7fb;
    padding: 9px;
    border-radius: 7px;
  }
  